.logo-appear {
  opacity: 0;
  transform: translateX(-100%);
}

.logo-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, left;
  transition: transform 0.5s, opacity 0.5s;
}
